# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

__pycache__/
*build/
*log/
*info/
*__pycache__*
*nsys-rep
*sqlite
*.egg-info/
*.eggs/
*.so
*.pyc
*.pyo
*.pyd
*.cu.o
*dist
*-archive*
*result
third_party/cusparselt
*ipynb_checkpoints
*pdf
*figures/*
*csv
*log
*profiling/*